Repository ZeusLN/zeus, pull requests merged in 2024-09, with the labels that each got.

#2393 Loading contacts only when the wallet is connecting
  views/Wallet/Wallet.tsx
Labels: Contacts

#2348 Open Channel view enhancements
  locales/en.json
  views/OpenChannel.tsx
Labels: Design, Channels

#2388 ZEUS-2382: Channels: clean up capacity labels
  locales/en.json
  views/Channels/Channel.tsx
Labels: Channels

#2366 ZEUS-2189: Node Configuration: some buttons should be labels
  locales/en.json
  views/Settings/NodeConfiguration.tsx
Labels: Design

#2292 Display Notes on Activity view
  models/Invoice.ts
  models/Payment.ts
  models/Transaction.ts
  stores/NotesStore.ts
  stores/TransactionsStore.ts
  views/Activity/Activity.tsx
  views/AddNotes.tsx
  views/Invoice.tsx
  views/Payment.tsx
  views/SendingLightning.tsx
  views/SendingOnChain.tsx
  views/Transaction.tsx
  views/Wallet/Wallet.tsx
Labels: Notes, Activity

#2414 ZEUS-2371: LND v0.18.3: blinded paths for BOLT 11
  backends/CLNRest.ts
  backends/CLightningREST.ts
  backends/Eclair.ts
  backends/EmbeddedLND.ts
  backends/LND.ts
  backends/LightningNodeConnect.ts
  backends/LndHub.ts
  backends/Spark.ts
  lndmobile/LndMobileInjection.ts
  lndmobile/index.ts
  locales/en.json
  models/Invoice.ts
  stores/InvoicesStore.ts
  stores/SettingsStore.ts
  utils/BackendUtils.ts
  views/Receive.tsx
  views/Settings/InvoicesSettings.tsx
Labels: LND, Invoices, Blinded paths

#2426 ZEUS-2396: External accounts: don't pass in preferred address type on new address call
  stores/InvoicesStore.ts
Labels: External accounts

#2429 Close Channel: Force Close: fee rate fix
  backends/EmbeddedLND.ts
  backends/LND.ts
  backends/LightningNodeConnect.ts
  views/Channels/Channel.tsx
Labels: LND, Channels

#2416 ZEUS-2106: LND: spend entire UTXO in on-chain TX
  backends/CLNRest.ts
  backends/CLightningREST.ts
  backends/Eclair.ts
  backends/EmbeddedLND.ts
  backends/LND.ts
  backends/LightningNodeConnect.ts
  backends/LndHub.ts
  backends/Spark.ts
  fetch-libraries.sh
  lndmobile/LndMobileInjection.ts
  lndmobile/onchain.ts
  models/TransactionRequest.ts
  stores/TransactionsStore.ts
  utils/BackendUtils.ts
  views/OpenChannel.tsx
  views/Send.tsx
  zeus_modules/@lightninglabs/lnc-core/lib/types/proto/lit/lit-autopilot.ts
  zeus_modules/@lightninglabs/lnc-core/lib/types/proto/lit/lit-sessions.ts
  zeus_modules/@lightninglabs/lnc-core/lib/types/proto/lnd/autopilotrpc/autopilot.ts
  zeus_modules/@lightninglabs/lnc-core/lib/types/proto/lnd/invoicesrpc/invoices.ts
  zeus_modules/@lightninglabs/lnc-core/lib/types/proto/lnd/lightning.ts
  zeus_modules/@lightninglabs/lnc-core/lib/types/proto/lnd/routerrpc/router.ts
  zeus_modules/@lightninglabs/lnc-core/lib/types/proto/lnd/signrpc/signer.ts
  zeus_modules/@lightninglabs/lnc-core/lib/types/proto/lnd/walletrpc/walletkit.ts
  zeus_modules/@lightninglabs/lnc-core/lib/types/proto/lnd/watchtowerrpc/watchtower.ts
  zeus_modules/@lightninglabs/lnc-core/lib/types/proto/lnd/wtclientrpc/wtclient.ts
  zeus_modules/@lightninglabs/lnc-core/lib/types/proto/loop/client.ts
  zeus_modules/@lightninglabs/lnc-core/lib/types/proto/pool/auctioneerrpc/auctioneer.ts
  zeus_modules/@lightninglabs/lnc-core/package.json
  zeus_modules/@lightninglabs/lnc-core/protos/faraday/v0.2.13-alpha/faraday.proto
  zeus_modules/@lightninglabs/lnc-core/protos/lit/v0.13.2-alpha/firewall.proto
  zeus_modules/@lightninglabs/lnc-core/protos/lit/v0.13.2-alpha/lit-autopilot.proto
  zeus_modules/@lightninglabs/lnc-core/protos/lit/v0.13.2-alpha/lit-sessions.proto
  zeus_modules/@lightninglabs/lnc-core/protos/lit/v0.13.2-alpha/lit-status.proto
  zeus_modules/@lightninglabs/lnc-core/protos/lnd/v0.18.3-beta/autopilotrpc/autopilot.proto
  zeus_modules/@lightninglabs/lnc-core/protos/lnd/v0.18.3-beta/chainrpc/chainnotifier.proto
  zeus_modules/@lightninglabs/lnc-core/protos/lnd/v0.18.3-beta/invoicesrpc/invoices.proto
  zeus_modules/@lightninglabs/lnc-core/protos/lnd/v0.18.3-beta/lightning.proto
  zeus_modules/@lightninglabs/lnc-core/protos/lnd/v0.18.3-beta/routerrpc/router.proto
  zeus_modules/@lightninglabs/lnc-core/protos/lnd/v0.18.3-beta/signrpc/signer.proto
  zeus_modules/@lightninglabs/lnc-core/protos/lnd/v0.18.3-beta/walletrpc/walletkit.proto
  zeus_modules/@lightninglabs/lnc-core/protos/lnd/v0.18.3-beta/walletunlocker.proto
  zeus_modules/@lightninglabs/lnc-core/protos/lnd/v0.18.3-beta/watchtowerrpc/watchtower.proto
  zeus_modules/@lightninglabs/lnc-core/protos/lnd/v0.18.3-beta/wtclientrpc/wtclient.proto
  zeus_modules/@lightninglabs/lnc-core/protos/loop/v0.28.5-beta/client.proto
  zeus_modules/@lightninglabs/lnc-core/protos/loop/v0.28.5-beta/debug.proto
  zeus_modules/@lightninglabs/lnc-core/protos/loop/v0.28.5-beta/swapserverrpc/common.proto
  zeus_modules/@lightninglabs/lnc-core/protos/loop/v0.28.5-beta/swapserverrpc/server.proto
  zeus_modules/@lightninglabs/lnc-core/protos/pool/v0.6.5-beta/auctioneerrpc/auctioneer.proto
  zeus_modules/@lightninglabs/lnc-core/protos/pool/v0.6.5-beta/auctioneerrpc/hashmail.proto
  zeus_modules/@lightninglabs/lnc-core/protos/pool/v0.6.5-beta/trader.proto
  zeus_modules/@lightninglabs/lnc-core/protos/tapd/v0-3-3-lnd-18/assetwalletrpc/assetwallet.proto
  zeus_modules/@lightninglabs/lnc-core/protos/tapd/v0-3-3-lnd-18/mintrpc/mint.proto
  zeus_modules/@lightninglabs/lnc-core/protos/tapd/v0-3-3-lnd-18/taprootassets.proto
  zeus_modules/@lightninglabs/lnc-core/protos/tapd/v0-3-3-lnd-18/universerpc/universe.proto
  zeus_modules/@lightninglabs/lnc-rn/package.json
Labels: LND, Coin control

#2440 Import Account: make count of addresses to generate user configurable
  locales/en.json
  stores/UTXOsStore.ts
  views/Accounts/ImportAccount.tsx
Labels: External accounts
