Repository ZeusLN/zeus, pull requests merged in 2024-04, with the labels that each got.

#2099 ZEUS Pay: remove refs to chan opens
  android/link-assets-manifest.json
  assets/images/SVG/Channel.svg
  ios/link-assets-manifest.json
  ios/zeus.xcodeproj/project.pbxproj
  locales/en.json
  views/Settings/LightningAddress/LightningAddressInfo.tsx
  views/Settings/LightningAddress/LightningAddressPayment.tsx
Labels: ZEUS Pay

#2115 Currency Converter: error handling for rate fetch failure
  locales/en.json
  views/Settings/CurrencyConverter.tsx
Labels: Exchange rates

#2123 Currency conversion: add XAG + XAU
  stores/FiatStore.ts
  stores/SettingsStore.ts
Labels: Currency conversion

#2114 LSP: ensure node is configured before attempting connection to LSP
  views/Wallet/Wallet.tsx
Labels: LSP

#2134 LND: CloseChannel: close to external address
  backends/EmbeddedLND.ts
  backends/LND.ts
  backends/LightningNodeConnect.ts
  lndmobile/LndMobileInjection.ts
  lndmobile/channel.ts
  locales/en.json
  stores/ChannelsStore.ts
  views/Channels/Channel.tsx
  views/Receive.tsx
Labels: LND, Channels

#2139 [deps] React Native v0.73.7
  ios/Podfile.lock
  ios/PrivacyInfo.xcprivacy
  package.json
  yarn.lock
Labels: Dependencies

#2137 Android: fix crop of startup screen animation
  components/LightningLoadingPattern.tsx
  components/LoadingColumns.tsx
  components/LoadingIndicator.tsx
  components/PaidIndicator.tsx
  components/SuccessAnimation.tsx
  ios/Podfile.lock
  ios/zeus.xcodeproj/project.pbxproj
  package.json
  yarn.lock
Labels: Design, Android

#2138 Android: flatten splash screen
  android/app/src/main/res/drawable/splash_screen.xml
  android/app/src/main/res/mipmap-hdpi/ic_splash.png
  android/app/src/main/res/mipmap-mdpi/ic_splash.png
  android/app/src/main/res/mipmap-xhdpi/ic_splash.png
  android/app/src/main/res/mipmap-xxhdpi/ic_splash.png
  android/app/src/main/res/mipmap-xxxhdpi/ic_splash.png
  android/app/src/main/res/values/colors.xml
Labels: Design, Android

#2127 [v0.9.0] Accounts: hardware wallet / external signer support + batching
  Navigation.ts
  assets/images/SVG/Account.svg
  assets/images/SVG/DynamicSVG/MatiSvg.tsx
  backends/CLightningREST.ts
  backends/Eclair.ts
  backends/EmbeddedLND.ts
  backends/LND.ts
  backends/LightningNodeConnect.ts
  backends/LndHub.ts
  backends/Spark.ts
  components/AccountFilter.tsx
  components/LayerBalances/OnchainSwipeableRow.tsx
  components/LayerBalances/index.tsx
  components/Pill.tsx
  components/QRCodeScanner.tsx
  components/UTXOPicker.tsx
  fetch-libraries.sh
  ios/LndMobile/Lnd.swift
  lndmobile/LndMobileInjection.ts
  lndmobile/channel.ts
  lndmobile/index.ts
  lndmobile/onchain.ts
  lndmobile/wallet.ts
  locales/en.json
  models/Account.ts
  models/FundedPsbt.ts
  models/OpenChannelRequest.ts
  models/TransactionRequest.ts
  package.json
  stores/BalanceStore.ts
  stores/ChannelsStore.ts
  stores/Stores.ts
  stores/TransactionsStore.ts
  stores/UTXOsStore.ts
  utils/AddressUtils.test.ts
  utils/AddressUtils.ts
  utils/BackendUtils.ts
  utils/Base64Utils.test.ts
  utils/Base64Utils.ts
  utils/BbqrUtils.ts
  utils/ErrorUtils.ts
  utils/ThemeUtils.ts
  utils/handleAnything.ts
  views/Accounts/Accounts.tsx
  views/Accounts/ImportAccount.tsx
  views/Accounts/ImportAccountQRScanner.tsx
  views/Accounts/ImportingAccount.tsx
  views/OpenChannel.tsx
  views/PSBT.tsx
  views/Receive.tsx
  views/Send.tsx
  views/SendingOnChain.tsx
  views/Settings/Settings.tsx
  views/TxHex.tsx
  views/UTXOs/CoinControl.tsx
  views/Wallet/Wallet.tsx
  views/handleAnythingQRScanner.tsx
  yarn.lock
Labels: LND, Channels, Coin control, External accounts

#2135 [v0.9.0] LND: CloseChannel: close to external address
  backends/EmbeddedLND.ts
  backends/LND.ts
  backends/LightningNodeConnect.ts
  lndmobile/LndMobileInjection.ts
  lndmobile/channel.ts
  locales/en.json
  stores/ChannelsStore.ts
  views/Channels/Channel.tsx
  views/Receive.tsx
Labels: LND, Channels
