Repository ZeusLN/zeus, pull requests merged in 2024-08, with the labels that each got.

#2349 Layer Balances: prompt user to open channel if they only have on-chain funds
  components/LayerBalances/index.tsx
  locales/en.json
Labels: Design, Channels

#2283 ContactStore
  App.tsx
  stores/ContactStore.ts
  stores/Stores.ts
  views/ContactDetails.tsx
  views/NostrContacts.tsx
  views/Settings/AddContact.tsx
  views/Settings/Contacts.tsx
  views/Wallet/Wallet.tsx
Labels: Contacts

#2299 Link Channel to the stored contacts
  views/Channels/Channel.tsx
Labels: Channels, Contacts

#2376 Send: Using ContactStore to fetch contacts
  views/Send.tsx
Labels: Refactor, Contacts
