Repository ZeusLN/zeus, pull requests merged in 2024-05, with the labels that each got.

#2205 POS: Add Delete Product btn and remove the icon
  locales/en.json
  views/POS/ProductDetails.tsx
Labels: Point of Sale

#2207 BOLT 12: offers + Twelve.cash lightning address
  App.tsx
  assets/images/SVG/AtSign.svg
  backends/CLightningREST.ts
  backends/Eclair.ts
  backends/EmbeddedLND.ts
  backends/LND.ts
  backends/LightningNodeConnect.ts
  backends/LndHub.ts
  backends/Spark.ts
  components/LayerBalances/LightningSwipeableRow.tsx
  locales/en.json
  models/Contact.ts
  models/Invoice.ts
  stores/OffersStore.ts
  stores/SettingsStore.ts
  stores/Stores.ts
  utils/BackendUtils.ts
  utils/handleAnything.ts
  views/ContactDetails.tsx
  views/PayCode.tsx
  views/PayCodeCreate.tsx
  views/PayCodes.tsx
  views/Send.tsx
  views/Settings/AddContact.tsx
  views/Settings/Bolt12Address.tsx
  views/Settings/Contacts.tsx
  views/Settings/Settings.tsx
Labels: BOLT 12, c-lightning-REST

#2217 Recovery status
  App.tsx
  backends/EmbeddedLND.ts
  locales/en.json
  stores/SyncStore.ts
  utils/BackendUtils.ts
  views/SyncRecovery.tsx
  views/Wallet/BalancePane.tsx
  views/Wallet/Wallet.tsx
Labels: Embedded LND, Wallet recovery

#2218 ZEUS-2042: add feedback to manual SCB recovery process
  stores/ChannelBackupStore.ts
  views/Settings/EmbeddedNode/DisasterRecoveryAdvanced.tsx
Labels: Embedded LND, Disaster recovery
