Repository ZeusLN/zeus, pull requests merged in 2024-12, with the labels that each got.

#2587 Embedded node: add Troublshooting menu
  App.tsx
  locales/en.json
  views/Settings/EmbeddedNode/Advanced.tsx
  views/Settings/EmbeddedNode/Troubleshooting.tsx
  views/Settings/EmbeddedNode/index.tsx
Labels: Embedded LND, UX

#2596 iOS: fix display of external account rows on sync
  components/LayerBalances/OnchainSwipeableRow.tsx
Labels: Bug, iOS, External accounts

#2601 LSPS1: default to REST interface for remote LND nodes
  backends/LND.ts
  backends/LightningNodeConnect.ts
Labels: LND, Lightning Node Connect, Networking, LND REST, LSPS1

#2615 Switching from LNC to non-LNC node: Call BackendUtils.disconnect() with correct implementation
  views/Settings/Wallets.tsx
Labels: Bug, Lightning Node Connect

#2612 ZEUS-2610: Channels: restore sort by Close Height
  components/Channels/ChannelsFilter.tsx
  components/Channels/FilterOptions.tsx
  views/Channels/ChannelsPane.tsx
Labels: Bug, Channels, Regression

#2579 Tests for DateTimeUtils, DateTimeUtils Improvements
  package.json
  utils/DateTimeUtils.test.ts
  utils/DateTimeUtils.ts
Labels: Date and Time, Tests

#2631 ZEUS-2621: Channels list: persist selection on reload
  views/Channels/ChannelsPane.tsx
Labels: Bug, Channels

#2620 Reset POS status when disabling POS
  views/Settings/PointOfSale.tsx
Labels: Bug, Point of Sale

#2637 Tests for channel backup functions (lndmobile/channel.ts)
  lndmobile/channel.test.ts
Labels: Backups, Tests

#2619 add language-specific noun casing for in line usage
  components/Amount.tsx
  utils/LocaleUtils.ts
Labels: Translations

#2622 Use store for fee updates between screens
  components/OnchainFeeInput.tsx
  stores/FeeStore.ts
  views/EditFee.tsx
  views/Send.tsx
Labels: Refactor, Fees

#2642 ZEUS-2623: Wallet config: Paste CLNRest Connection String
  utils/ConnectionFormatUtils.ts
  views/Settings/WalletConfiguration.tsx
Labels: Clipboard, CLNRest, Wallet configuration

#2646 ZEUS-2604: CLNRest: Cannot create LN invoice with empty amount
  backends/CLNRest.ts
Labels: Bug, CLNRest

#2644 Fix LNC mailbox server switching
  backends/LNC/credentialStore.ts
  backends/LightningNodeConnect.ts
Labels: Bug, Lightning Node Connect, Networking

#2632 More comprehensive error message for FAILURE_REASON_INCORRECT_PAYMENT_DETAILS
  locales/en.json
  stores/TransactionsStore.ts
  utils/ErrorUtils.test.ts
  utils/ErrorUtils.ts
Labels: Error handling, Keysend

#2634 Display keysend messages like memos in Activity and Payment
  models/Payment.ts
  views/Activity/Activity.tsx
Labels: Keysend, Activity

#2649 Loading Columns: make surrounding wordmarks visible on light themes
  components/LoadingColumns.tsx
Labels: Design, Display, Animations

#2643 Open Channel: change toggle header to tabs
  views/OpenChannel.tsx
Labels: Channels, UX

#2638 ZEUS-2636: CLNRest: Destination address not shown in transaction
  backends/CoreLightningRequestHandler.ts
  locales/en.json
  models/Transaction.ts
  package.json
  utils/AddressUtils-testnet.test.ts
  utils/AddressUtils.test.ts
  utils/AddressUtils.ts
  views/Transaction.tsx
  yarn.lock
  zeus_modules/noble_ecc.ts
Labels: Bug, CLNRest

#2588 Faster connection timeouts for non-Tor connections
  backends/CLNRest.ts
  backends/LND.ts
  stores/NodeInfoStore.ts
  views/Wallet/Wallet.tsx
Labels: Tor, Networking

#2614 Payments: Update `getPayments` call to limit the number of payments
  backends/EmbeddedLND.ts
  backends/LND.ts
  backends/LightningNodeConnect.ts
  lndmobile/LndMobileInjection.ts
  lndmobile/index.ts
  stores/PaymentsStore.ts
  views/SendingLightning.tsx
Labels: Bug, Payments

#2652 ZEUS-2626: Lightning Address Settings: Notifications setting does not persist
  views/Settings/LightningAddress/LightningAddressSettings.tsx
Labels: Bug, ZEUS Pay

#2651 ZEUS-2641: Activity: make send and receive inclusive of 0
  utils/ActivityFilterUtils.ts
Labels: Bug, Activity

#2662 ZEUS-2629: Failed payment to invoices with route hints
  locales/en.json
  models/Channel.ts
  stores/InvoicesStore.ts
  views/Channels/Channel.tsx
Labels: Bug

#2665 Wallet config: set config to inactive when copied
  views/Settings/WalletConfiguration.tsx
Labels: Bug, Wallet configuration

#2684 Bug fix: invisible tab navigation present on error
  views/Wallet/Wallet.tsx
Labels: Bug, Navigation
