Repository ZeusLN/zeus, pull requests merged in 2024-06, with the labels that each got.

#2226 Neutrino: auto-select peers on wallet creation
  locales/en.json
  stores/SettingsStore.ts
  utils/LndMobileUtils.ts
  views/Intro.tsx
  views/IntroSplash.tsx
  views/Settings/NodeConfiguration.tsx
  views/Settings/SeedRecovery.tsx
Labels: Embedded LND, Neutrino

#2230 BC-UR: parse crypto-account data
  views/HandleAnythingQRScanner.tsx
Labels: QR Codes, External accounts

#2233 Neutrino: increase ping threshold, 200->1000ms
  components/Modals/AlertModal.tsx
  locales/en.json
  stores/AlertStore.ts
  utils/LndMobileUtils.ts
  views/Settings/EmbeddedNode/Peers/NeutrinoPeers.tsx
Labels: Embedded LND, Neutrino

#2243 Settings: Neutrino: add optimize peers button
  locales/en.json
  utils/LndMobileUtils.ts
  views/Intro.tsx
  views/IntroSplash.tsx
  views/Settings/EmbeddedNode/Peers/NeutrinoPeers.tsx
  views/Settings/NodeConfiguration.tsx
  views/Settings/SeedRecovery.tsx
Labels: Embedded LND, Neutrino

#2257 getFormattedAmount: fix BTC decimal amounts
  stores/UnitsStore.ts
Labels: Bug, Point of Sale

#2260 LSP-101: LSPS1: Explicitly support LSPS1 payment options
  components/LSPS1OrderResponse.tsx
  locales/en.json
  views/Settings/LSPS1/index.tsx
Labels: LSP, LSPS1

#2266 LSPS1: add defaults buttons for Channel expiry blocks
  locales/en.json
  views/Settings/LSPS1/index.tsx
Labels: LSP, LSPS1

#2267 LSPS1: Add status bar for lsp and client balances
  components/Channels/ChannelItem.tsx
  components/LSPS1OrderResponse.tsx
  locales/en.json
Labels: Channels, LSP, LSPS1
