Repository ZeusLN/zeus, pull requests merged in 2024-10, with the labels that each got.

#2450 Receive: Blinded Paths: turn off and disable AMP and Route Hints
  views/Receive.tsx
  views/Settings/InvoicesSettings.tsx
Labels: LND, Invoices, Blinded paths

#2449 Lockscreen: include back button when in POS mode
  views/Lockscreen.tsx
Labels: Security, Point of Sale

#2454 Nostr: new default relays
  stores/SettingsStore.ts
Labels: Nostr

#2457 [bug fix] SetFeesForm: allow iOS users to input negative amounts for inbound fees
  components/SetFeesForm.tsx
Labels: iOS, LND, Fees

#2456 ImportingAccount: add loading indicator
  stores/UTXOsStore.ts
  views/Accounts/ImportingAccount.tsx
Labels: External accounts

#2455 Themes: replace Orange w/ Spooky
  locales/en.json
  stores/SettingsStore.ts
  utils/ThemeUtils.ts
Labels: Display settings, Themes

#2469 Conversion component: handle NaN edge cases
  components/Conversion.tsx
Labels: Currency conversion

#2473 ZEUS-2472: Unable to Add Lightning Node Connect Node When No Nodes are Present
  backends/LightningNodeConnect.ts
  views/Settings/Nodes.tsx
Labels: Bug, Lightning Node Connect

#2482 tsc: final codebase fixes and re-add GitHub workflow
  .github/workflows/tsc.yml
  App.tsx
  backends/CLNRest.ts
  backends/CLightningREST.ts
  backends/Eclair.ts
  backends/EmbeddedLND.ts
  backends/LightningNodeConnect.ts
  backends/Spark.ts
  components/SetFeesForm.tsx
  lndmobile/LndMobileInjection.ts
  lndmobile/index.ts
  lndmobile/scheduled-sync.ts
  lndmobile/wallet.ts
  models/Channel.ts
  models/ClosedChannel.ts
  package.json
  views/Channels/Channel.tsx
  yarn.lock
Labels: Typescript, GitHub Workflows

#2481 SeedRecovery: fix uneven columns and margins
  views/Settings/SeedRecovery.tsx
Labels: Wallet recovery

#2436 [activity-csv] Activity: CSV Export
  locales/en.json
  views/Activity/Activity.tsx
  views/Activity/ActivityFilter.tsx
  views/Activity/ActivityToCsv.tsx
Labels: Activity

#2494 ZEUS-2491: force user to set rate on mempool fee suggestion error
  components/OnchainFeeInput.tsx
  views/OpenChannel.tsx
  views/Send.tsx
Labels: Fees

#2487 Using new react-native-android container for v0.9.1
  build.sh
Labels: Reproducible builds, Android

#2493 Inbound Fee display fixes
  components/FeeBreakdown.tsx
  components/SetFeesForm.tsx
  locales/en.json
Labels: Channels, Fees

#2464 Payment method list
  App.tsx
  components/LayerBalances/LightningSwipeableRow.tsx
  components/LayerBalances/OnchainSwipeableRow.tsx
  components/LayerBalances/PaymentMethodList.tsx
  components/LayerBalances/index.tsx
  utils/AddressUtils.test.ts
  utils/AddressUtils.ts
  utils/handleAnything.test.ts
  utils/handleAnything.ts
  views/ChoosePaymentMethod.tsx
Labels: BOLT 12, Payments
