Repository ZeusLN/zeus, pull requests merged in 2024-07, with the labels that each got.

#2274 ErrorUtils: handle PascalCase error messages from LSPS1
  stores/LSPStore.ts
  utils/ErrorUtils.test.ts
  utils/ErrorUtils.ts
Labels: Error handling, LSPS1

#2228 Core Lightning: CLNRest backend
  backends/CLNRest.ts
  backends/CLightningREST.ts
  backends/CoreLightningRequestHandler.ts
  components/FeeLimit.tsx
  components/SetFeesForm.tsx
  locales/en.json
  models/Transaction.ts
  stores/ChannelsStore.ts
  stores/SettingsStore.ts
  stores/TransactionsStore.ts
  utils/BackendUtils.ts
  views/OpenChannel.tsx
  views/PaymentRequest.tsx
  views/Send.tsx
  views/Settings/NodeConfiguration.tsx
  views/Settings/PaymentsSettings.tsx
  views/Sweep.tsx
  views/Transaction.tsx
Labels: Core Lightning, c-lightning-REST, CLNRest

#2277 ZEUS-2225: c-lightning-REST: update getChannels call
  backends/CLightningREST.ts
Labels: Core Lightning, Channels, c-lightning-REST

#2279 ZEUS-2158: Embedded LND: Settings: add Custom fee estimator
  components/TextInput.tsx
  locales/en.json
  stores/SettingsStore.ts
  utils/LndMobileUtils.ts
  views/Settings/EmbeddedNode/Advanced.tsx
Labels: Embedded LND, Fees, Settings

#2281 ZEUS-1503: Settings: Display: add ability to hide millisat amounts
  components/Amount.tsx
  locales/en.json
  stores/SettingsStore.ts
  views/Settings/Display.tsx
Labels: Display settings

#2282 Add CLN.jpg to selection for CLNRest in SetNodePicture.tsx
  views/Settings/SetNodePicture.tsx
Labels: CLNRest

#2291 CLNRest: show indicator on payment received
  models/Invoice.ts
  views/Receive.tsx
Labels: Core Lightning, Invoices, CLNRest

#2290 CLNRest: performance improvements using sql query
  backends/CLNRest.ts
  backends/CoreLightningRequestHandler.ts
Labels: Core Lightning, CLNRest

#2288 Contacts: Added Bolt12 offers
  locales/en.json
  models/Contact.ts
  views/ContactDetails.tsx
  views/Send.tsx
  views/Settings/AddContact.tsx
  views/Settings/Contacts.tsx
Labels: Contacts

#2295 [BugFix] CLNRest Backend Fix for paid invoices
  backends/CLNRest.ts
Labels: Core Lightning, CLNRest

#2294 CLNRest: add QR format
  utils/ConnectionFormatUtils.test.ts
  utils/ConnectionFormatUtils.ts
  utils/handleAnything.ts
Labels: Core Lightning, QR Codes, CLNRest
