Repository ZeusLN/zeus, pull requests merged in 2025-10, with the labels that each got.

#3296 fix: 'LND is getting ready to make payments' for remote connections
  views/PaymentRequest.tsx
Labels: Bug

#3298 fix: bug: deep link `Choose Payment Method` loop
  App.tsx
Labels: Bug, App Intents

#3269 feat: enable LNURL-w redemption to Cashu wallet
  components/LayerBalances/EcashSwipeableRow.tsx
  components/LayerBalances/LightningSwipeableRow.tsx
  components/LayerBalances/PaymentMethodList.tsx
  utils/handleAnything.ts
  views/ChoosePaymentMethod.tsx
Labels: LNURL, Ecash, Cashu, LNURL-withdraw
