Repository ZeusLN/zeus, pull requests merged in 2025-06, with the labels that each got.

#3082 fix: handling empty inbound fee rate
  backends/LND.ts
  backends/LightningNodeConnect.ts
Labels: Bug, Channels, Fees

#3086 feat: ZEUS Pay+ dynamic values
  stores/LightningAddressStore.ts
  views/LightningAddress/ZeusPayPlus.tsx
  views/LightningAddress/ZeusPayPlusPerksList.tsx
Labels: ZEUS Pay

#3078 enhancement: added support for model background in themeColor
  components/HopPicker.tsx
  components/Modals/AlertModal.tsx
  components/Modals/AndroidNfcModal.tsx
  components/Modals/ExternalLinkModal.tsx
  components/Modals/InfoModal.tsx
  utils/ThemeUtils.ts
  views/Receive.tsx
  views/Settings/CustodialWalletWarning.tsx
  views/Settings/InvoicesSettings.tsx
  views/Wallet/KeypadPane.tsx
Labels: Design, Themes, Modals

#3069 fix: notes rendering in activity view
  views/Activity/Activity.tsx
Labels: Bug, Notes, Activity

#3108 refactor: fix listeners on Receive Ecash view
  views/Cashu/ReceiveEcash.tsx
Labels: Bug, Refactor, Ecash, Cashu

#3107 fix: Incorrect totalSats calculation after adding tip %
  utils/TipUtils.test.ts
  utils/TipUtils.ts
  views/Order.tsx
Labels: Bug, Point of Sale

#3126 ZEUS-3100: swaps refund edge case
  views/Swaps/SwapDetails.tsx
Labels: Bug, Swaps

#3051 feat: set close address on channel open
  backends/EmbeddedLND.ts
  backends/LND.ts
  backends/LightningNodeConnect.ts
  lndmobile/LndMobileInjection.ts
  lndmobile/channel.ts
  locales/en.json
  models/Channel.ts
  models/OpenChannelRequest.ts
  views/Channels/Channel.tsx
  views/OpenChannel.tsx
Labels: LND, Channels
