Repository ZeusLN/zeus, pull requests merged in 2025-02, with the labels that each got.

#2783 Payment path: Display 'Unknown' if backend throws or needs >10s to retrieve node alias
  locales/en.json
  stores/ChannelsStore.ts
Labels: Payments

#2712 Remove default tip of 21% for pos custom tip
  views/Order.tsx
Labels: Point of Sale

#2796 Fonts: fix PP Neue Montreal
  android/app/src/main/assets/fonts/PPNeueMontreal-Bold.otf
  android/app/src/main/assets/fonts/PPNeueMontreal-Book.otf
  android/app/src/main/assets/fonts/PPNeueMontreal-Medium.otf
  android/link-assets-manifest.json
  assets/fonts/PPNeueMontreal-Bold.otf
  assets/fonts/PPNeueMontreal-Book.otf
  assets/fonts/PPNeueMontreal-Medium.otf
  ios/link-assets-manifest.json
  ios/zeus.xcodeproj/project.pbxproj
  ios/zeus/Info.plist
Labels: Design, Android

#2594 improved UX and error handling for wallet configuration
  components/TextInput.tsx
  locales/en.json
  utils/ErrorUtils.test.ts
  utils/ErrorUtils.ts
  utils/ValidationUtils.test.ts
  utils/ValidationUtils.ts
  views/Settings/WalletConfiguration.tsx
Labels: Settings, UX, Wallet configuration

#2799 Keypad Pane: Long press "delete" icon to reset amount
  components/PinPad.tsx
  components/Touchable.tsx
Labels: UX

#2803 ZEUS-2798: UTXO Consolidation Transaction Not Working
  stores/TransactionsStore.ts
Labels: Bug, Coin control, Payments

#2797 POS: Use placeholders instead of "real" 0 value for Tax percentage and Product Price
  stores/PosStore.ts
  stores/SettingsStore.ts
  views/POS/ProductDetails.tsx
  views/Settings/PointOfSale.tsx
Labels: Point of Sale, UX

#2720 LSPS7: Channel lease extensions
  App.tsx
  backends/CLNRest.ts
  backends/CLightningREST.ts
  backends/CoreLightningRequestHandler.ts
  backends/Eclair.ts
  backends/EmbeddedLND.ts
  backends/LND.ts
  backends/LightningNodeConnect.ts
  backends/LndHub.ts
  backends/Spark.ts
  components/Channels/ChannelItem.tsx
  components/Channels/Tag.tsx
  locales/en.json
  models/Channel.ts
  package.json
  stores/LSPStore.ts
  stores/NodeInfoStore.ts
  utils/BackendUtils.ts
  utils/DateTimeUtils.test.ts
  utils/DateTimeUtils.ts
  utils/MigrationUtils.ts
  views/Channels/Channel.tsx
  views/Channels/ChannelsPane.tsx
  views/LSPS1/Order.tsx
  views/LSPS1/OrderResponse.tsx
  views/LSPS1/OrdersPane.tsx
  views/LSPS1/Settings.tsx
  views/LSPS1/index.tsx
  views/LSPS7/Order.tsx
  views/LSPS7/OrderResponse.tsx
  views/LSPS7/index.tsx
  views/Settings/ChannelsSettings.tsx
  views/Settings/LightningAddress/index.tsx
  views/Settings/Settings.tsx
  views/Wallet/Wallet.tsx
  yarn.lock
Labels: Channels, LSP, LSPS7

#2734 Create Developer Tools
  App.tsx
  android/app/src/main/assets/fonts/DroidSansMono Apache License.txt
  android/app/src/main/assets/fonts/DroidSansMono.ttf
  assets/fonts/DroidSansMono Apache License.txt
  assets/fonts/DroidSansMono.ttf
  backends/CLNRest.ts
  backends/LndHub.ts
  ios/link-assets-manifest.json
  ios/zeus.xcodeproj/project.pbxproj
  ios/zeus/Info.plist
  locales/en.json
  node_modules/react-native-vector-icons/Fonts/DroidSansMono 2.ttf
  node_modules/react-native-vector-icons/Fonts/DroidSansMono.ttf
  utils/BackendUtils.ts
  views/Tools.tsx
  views/Tools/DeveloperTools.tsx
Labels: Tools

#2805 ZEUS-2804: persistent back up your funds' warning in homescreen
  views/Settings/Seed.tsx
Labels: Bug, Backups, Embedded LND, Storage

#2102 Embedded LND: chantools: sweepremoteclosed
  App.tsx
  android/app/src/main/java/com/zeus/lnc-rn/LncModule.kt
  fetch-libraries.sh
  ios/LncMobile/LncModule.mm
  lndmobile/LndMobileInjection.ts
  lndmobile/chantools.ts
  locales/en.json
  views/Settings/EmbeddedNode/Advanced.tsx
  views/Settings/EmbeddedNode/Chantools/Sweepremoteclosed.tsx
  views/Settings/EmbeddedNode/Chantools/index.tsx
  views/TxHex.tsx
Labels: Channels, Embedded LND

#2818 Replace polling in expressGraphSync() with reactive handler
  stores/SyncStore.ts
  utils/LndMobileUtils.ts
Labels: Embedded LND

#2776 Backend: Nostr Wallet Connect
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  assets/images/AlbyHub.jpg
  assets/images/Cashu.jpg
  assets/images/Nostr.jpg
  assets/images/NostrWalletConnect.jpg
  backends/NostrWalletConnect.ts
  index.js
  locales/en.json
  models/Invoice.ts
  models/Payment.ts
  package.json
  stores/SettingsStore.ts
  stores/TransactionsStore.ts
  utils/BackendUtils.ts
  utils/PhotoUtils.ts
  utils/handleAnything.ts
  views/Invoice.tsx
  views/Receive.tsx
  views/Settings/SetWalletPicture.tsx
  views/Settings/WalletConfiguration.tsx
  views/Wallet/BalancePane.tsx
  views/Wallet/Wallet.tsx
  yarn.lock
Labels: Nostr, Nostr Wallet Connect (NWC)

#2822 Bug Fix [sweepremoteclosed] : Custom api field hidden behind keyboard in iOS
  views/Settings/EmbeddedNode/Chantools/Sweepremoteclosed.tsx
Labels: Tools, chantools

#2625 General refactoring mainly regarding MobX actions + fixed error state
  lndmobile/channel.ts
  stores/ActivityStore.ts
  stores/BalanceStore.ts
  stores/ChannelBackupStore.ts
  stores/ChannelsStore.ts
  stores/FeeStore.ts
  stores/FiatStore.ts
  stores/InventoryStore.ts
  stores/InvoicesStore.ts
  stores/LSPStore.ts
  stores/LightningAddressStore.ts
  stores/LnurlPayStore.ts
  stores/NodeInfoStore.ts
  stores/NotesStore.ts
  stores/OffersStore.ts
  stores/PaymentsStore.ts
  stores/PosStore.ts
  stores/SettingsStore.ts
  stores/SyncStore.ts
  stores/TransactionsStore.ts
  stores/UTXOsStore.ts
  stores/UnitsStore.ts
  views/Wallet/Wallet.tsx
Labels: MobX

#2835 Embedded LND: v0.18.5-beta-zeus
  fetch-libraries.sh
Labels: Embedded LND

#2736 Android: Graceful shutdown button in notification for persistent mode
  android/app/src/main/java/com/zeus/LndMobile.java
  android/app/src/main/java/com/zeus/LndMobileService.java
  lndmobile/LndMobile.d.ts
  locales/en.json
  utils/LocaleUtils.ts
  views/Settings/Language.tsx
  views/Wallet/Wallet.tsx
Labels: Android, Embedded LND, Persistent mode

#2785 Tools: Add Activity Export Feature
  App.tsx
  locales/en.json
  utils/ActivityCsvUtils.test.ts
  utils/ActivityCsvUtils.ts
  views/Activity/ActivityToCsv.tsx
  views/ActivityExportOptions.tsx
  views/Tools.tsx
Labels: Activity, Tools, Actvity CSV Export

#2839 Send: ensure default amount is passed as 0
  views/Send.tsx
Labels: Bug, Payments

#2840 ZEUS-1899: ZEUS Pay: add ability to delete address
  locales/en.json
  stores/LightningAddressStore.ts
  views/Settings/LightningAddress/LightningAddressSettings.tsx
Labels: ZEUS Pay

#2841 AmountInput: fix flow from Keypad view
  components/AmountInput.tsx
  views/Settings/PaymentsSettings.tsx
Labels: Bug, Payments

#2842 Keypad Pane: don't pass in amount if 0
  views/Wallet/KeypadPane.tsx
Labels: Payments

#2843 Performance improvement for updateSettings()
  stores/SettingsStore.ts
Labels: Refactor, Storage, Settings, UX

#2844 Lock settings elements while updateSettings() is running
  stores/SettingsStore.ts
  views/Settings/ChannelsSettings.tsx
  views/Settings/Display.tsx
  views/Settings/InvoicesSettings.tsx
  views/Settings/LightningAddress/LightningAddressSettings.tsx
  views/Settings/LightningAddress/NostrKeys.tsx
  views/Settings/LightningAddress/NostrRelays.tsx
  views/Settings/PointOfSale.tsx
  views/Settings/Privacy.tsx
Labels: Settings, UX

#2660 Call getSettingsAndNavigate less often
  stores/SettingsStore.ts
  views/Intro.tsx
  views/IntroSplash.tsx
  views/Lockscreen.tsx
  views/SendingLightning.tsx
  views/Settings/SeedRecovery.tsx
  views/Settings/SelectCurrency.tsx
  views/Settings/SetDuressPassword.tsx
  views/Settings/SetDuressPin.tsx
  views/Settings/SetPassword.tsx
  views/Settings/WalletConfiguration.tsx
  views/Settings/Wallets.tsx
  views/Wallet/Wallet.tsx
Labels: Navigation

#2846 Add option to set payments timeout for CLNRest
  backends/CLNRest.ts
  stores/TransactionsStore.ts
  views/PaymentRequest.tsx
  views/Settings/PaymentsSettings.tsx
Labels: Payments, CLNRest, Payment settings

#2807 Activity filter memo and maximum amount
  locales/en.json
  stores/ActivityStore.ts
  utils/ActivityFilterUtils.test.ts
  utils/ActivityFilterUtils.ts
  views/Activity/ActivityFilter.tsx
Labels: Activity

#2857 Move sweep on-chain functionality to Tools section
  App.tsx
  locales/en.json
  views/Send.tsx
  views/Tools/Accounts/Accounts.tsx
  views/Tools/Accounts/ImportAccount.tsx
  views/Tools/Accounts/ImportingAccount.tsx
  views/Tools/ActivityExport.tsx
  views/Tools/BumpFee.tsx
  views/Tools/CurrencyConverter.tsx
  views/Tools/SignVerifyMessage.tsx
  views/Tools/Sweep.tsx
  views/Tools/index.tsx
Labels: Tools

#2858 Remove deprecated backends
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/PULL_REQUEST_TEMPLATE.md
  App.tsx
  README.md
  backends/CLightningREST.ts
  backends/Eclair.ts
  backends/Spark.ts
  components/FeeLimit.tsx
  components/SetFeesForm.tsx
  locales/en.json
  metadata/en-US/full_description.txt
  models/Invoice.ts
  models/Payment.ts
  models/TransactionRequest.ts
  stores/ChannelsStore.ts
  stores/FeeStore.ts
  stores/InvoicesStore.ts
  stores/SettingsStore.ts
  stores/TransactionsStore.ts
  utils/BackendUtils.ts
  utils/ConnectionFormatUtils.test.ts
  utils/ConnectionFormatUtils.ts
  utils/handleAnything.ts
  views/OpenChannel.tsx
  views/PaymentRequest.tsx
  views/Send.tsx
  views/Settings/PaymentsSettings.tsx
  views/Settings/SetWalletPicture.tsx
  views/Settings/WalletConfiguration.tsx
  views/SparkQRScanner.tsx
  views/Tools/Sweep.tsx
Labels: Refactor

#2863 UI: Improve contrast of warning buttons in Disaster Recovery view in Settings
  views/Settings/EmbeddedNode/DisasterRecovery.tsx
Labels: Design, Accessibility, Disaster recovery, UX

#2867 UI: update colors according to themes in ExternalLinkModal
  assets/images/SVG/Leaving.svg
  components/Modals/ExternalLinkModal.tsx
Labels: Design

#2870 ZEUS-2868: fix display of backup status
  stores/ChannelBackupStore.ts
Labels: Bug, Backups, UX

#2872 Receive: advanced settings toggle
  views/Receive.tsx
Labels: Design, Invoices, UX

#2875 ZEUS Pay: don't fire local notifications on manual redemption
  stores/LightningAddressStore.ts
Labels: Bug, ZEUS Pay, Notifications
