Repository ZeusLN/zeus, pull requests merged in 2025-09, with the labels that each got.

#3185 enhancement: Swaps: Amount conversion when toggling units
  views/Swaps/index.tsx
Labels: Enhancement, Swaps

#3271 ZEUS-3270: fix: errant on-chain balance calls to LNDHub
  backends/CLNRest.ts
  backends/EmbeddedLND.ts
  backends/LND.ts
  backends/LightningNodeConnect.ts
  backends/LndHub.ts
  backends/NostrWalletConnect.ts
  stores/BalanceStore.ts
  utils/BackendUtils.ts
Labels: Bug, LNDHub

#3210 feat: Image sharing intent support for QR code processing
  App.tsx
  android/app/src/main/AndroidManifest.xml
  android/app/src/main/java/com/zeus/MobileTools.java
  components/LayerBalances/EcashSwipeableRow.tsx
  components/LayerBalances/LightningSwipeableRow.tsx
  components/LayerBalances/OnchainSwipeableRow.tsx
  locales/en.json
  utils/LinkingUtils.ts
  utils/ShareIntentProcessor.ts
  views/Lockscreen.tsx
  views/Settings/Wallets.tsx
  views/ShareIntentProcessing.tsx
  views/Wallet/SquarePosPane.tsx
  views/Wallet/StandalonePosPane.tsx
  views/Wallet/Wallet.tsx
Labels: Android

#3290 enhancement: Select Currency: disable autocorrect in search bar
  views/Settings/SelectCurrency.tsx
Labels: Enhancement, Currency conversion, UX
