Repository ZeusLN/zeus, pull requests merged in 2025-07, with the labels that each got.

#3058 feat: add ability to lock a token to a pubkey + set duration
  App.tsx
  assets/images/SVG/Ecash.svg
  locales/en.json
  models/CashuToken.ts
  models/Contact.ts
  stores/CashuStore.ts
  stores/ContactStore.ts
  utils/CashuUtils.ts
  views/Cashu/CashuLockSettings.tsx
  views/Cashu/CashuToken.tsx
  views/Cashu/MintToken.tsx
  views/ContactDetails.tsx
  views/NodeInfo.tsx
  views/Settings/AddContact.tsx
  views/Settings/Contacts.tsx
Labels: Ecash, Cashu

#3124 feat: Dynamic Cashu QRs
  components/CollapsedQR.tsx
  locales/en.json
  views/Cashu/CashuToken.tsx
  views/PSBT.tsx
  views/TxHex.tsx
Labels: QR Codes, Ecash, Cashu

#3134 feat: ZEUS Pay+: get perks from service
  stores/LightningAddressStore.ts
  views/LightningAddress/ZeusPayPlusPerksList.tsx
Labels: ZEUS Pay

#3009 feat: listpeers and disconnect peer
  backends/CLNRest.ts
  backends/CoreLightningRequestHandler.ts
  backends/EmbeddedLND.ts
  backends/LND.ts
  backends/LightningNodeConnect.ts
  backends/LndHub.ts
  backends/NostrWalletConnect.ts
  components/Channels/ChannelsFilter.tsx
  components/ToggleButton.tsx
  components/WalletHeader.tsx
  locales/en.json
  models/Peer.ts
  stores/ChannelsStore.ts
  utils/BackendUtils.ts
  views/Channels/ChannelsPane.tsx
  views/OpenChannel.tsx
Labels: Peers

#3148 fix: avoid unnecessary processing when mint balance is insufficient
  locales/en.json
  stores/CashuStore.ts
Labels: Enhancement, UX, Ecash, Cashu

#2959 feat: BOLT 12 withdrawal requests
  App.tsx
  backends/CLNRest.ts
  backends/EmbeddedLND.ts
  backends/LND.ts
  backends/LightningNodeConnect.ts
  backends/LndHub.ts
  backends/NostrWalletConnect.ts
  locales/en.json
  models/WithdrawalRequest.ts
  package.json
  stores/ActivityStore.ts
  stores/InvoicesStore.ts
  utils/ActivityFilterUtils.ts
  utils/AddressUtils.test.ts
  utils/AddressUtils.ts
  utils/BackendUtils.ts
  utils/handleAnything.ts
  views/Activity/Activity.tsx
  views/Activity/ActivityToCsv.tsx
  views/RedeemWithdrawalRequest.tsx
  views/Tools/CreateWithdrawalRequest.tsx
  views/Tools/index.tsx
  views/WithdrawalRequest.tsx
  views/WithdrawalRequestInfo.tsx
Labels: Core Lightning, BOLT 12, CLNRest

#3155 fix: list peers ping time precision
  views/Channels/ChannelsPane.tsx
Labels: Peers

#3161 fix: legacy Testnet addresses + receive swaps to legacy
  utils/AddressUtils.test.ts
  utils/AddressUtils.ts
  views/Swaps/index.tsx
Labels: Bug, Swaps

#3158 feat: UI: open channel modal
  App.tsx
  assets/images/SVG/OnChain.svg
  components/Modals/NewChannelModal.tsx
  components/WalletHeader.tsx
  locales/en.json
  stores/ModalStore.ts
  stores/SettingsStore.ts
  utils/MigrationUtils.test.ts
  utils/MigrationUtils.ts
  views/Channels/ChannelsPane.tsx
  views/LSPS1/Settings.tsx
  views/Settings/ChannelsSettings.tsx
Labels: Channels, LSPS1, UX

#3163 feat: Receive: tuck QR tabs and 'Receive via NFC' button under advanced toggle
  views/Receive.tsx
Labels: Design, QR Codes, UX

#3176 ZEUS-3175: handle currencies w/ varying number of digits after the decimal separator
  stores/FiatStore.ts
  stores/UnitsStore.ts
  utils/UnitsUtils.alt.test.ts
  utils/UnitsUtils.test.ts
  utils/UnitsUtils.ts
  views/Wallet/KeypadPane.tsx
  views/Wallet/StandalonePosKeypadPane.tsx
Labels: Bug, Currency conversion

#3183 enhancement: Peers: leverage stored aliases
  components/WalletHeader.tsx
  stores/ChannelsStore.ts
  views/Channels/ChannelsPane.tsx
Labels: Enhancement, Peers
