Repository ZeusLN/zeus, pull requests merged in 2025-04, with the labels that each got.

#2955 PaymentPath: move getNodeInfo() call outside render()
  components/PaymentPath.tsx
  stores/ChannelsStore.ts
Labels: Bug

#2957 [fix] POS Bug: prevent NaN in Total sats
  views/Order.tsx
Labels: Bug, Point of Sale

#2966 ZEUS Pay: don't allow users to set handles on account creation
  stores/LightningAddressStore.ts
  views/Settings/LightningAddress/index.tsx
Labels: ZEUS Pay

#2973 [bug fix] Currency converter: Same currency can't be added after deletion
  views/Tools/CurrencyConverter.tsx
Labels: Bug, Currency conversion

#2939 fix: Embedded LND: don't mark as started on wallet creation
  utils/LndMobileUtils.ts
  views/Settings/WalletConfiguration.tsx
Labels: Bug, Embedded LND, Startup

#2974 ZEUS-2967: toggle edit icon on Currency Converter
  views/Tools/CurrencyConverter.tsx
Labels: Design, Currency conversion, UX

#2978 ZEUS-2608: fix DropdownSetting alignment issues
  components/DropdownSetting.tsx
  views/Receive.tsx
  views/Settings/InvoicesSettings.tsx
  views/Settings/PaymentsSettings.tsx
Labels: Bug, Design

#2952 Add approximate symbol to fiat amounts
  components/Amount.tsx
  locales/en.json
Labels: Design, Exchange rates, UX

#2961 feat : Activity add filters for Keysends
  models/Invoice.ts
  models/Payment.ts
  stores/ActivityStore.ts
  utils/ActivityFilterUtils.test.ts
  utils/ActivityFilterUtils.ts
  views/Activity/ActivityFilter.tsx
Labels: Keysend, Activity

#2943 fix: Added logic to fetch the fiatRates as the component mounts
  stores/FiatStore.ts
Labels: Bug, Currency conversion

#2975 Add Show/Hide Toggle for Sensitive Input Fields in Node Connection Configurations
  views/Settings/WalletConfiguration.tsx
Labels: UX, Wallet configuration

#2937 UI/UX improvements for Receive view
  stores/LSPStore.ts
  views/Receive.tsx
Labels: UX

#2931 Backends: allow override of default timeout #2887
  backends/CLNRest.ts
  backends/LND.ts
Labels: Core Lightning, LND, Networking, LND REST, CLNRest

#2997 clnrest: supportOffers is always true starting with cln 24.11
  backends/CLNRest.ts
Labels: Core Lightning, CLNRest

#2996 bip353: join multiline txt without whitespace
  utils/handleAnything.ts
Labels: Bug, Core Lightning, Payments, CLNRest, BIP-353

#2981 Node Info View: minor layout fix
  components/CollapsedQR.tsx
  views/NodeInfo.tsx
Labels: Design, Layout

#2995 feat: CLNREST listclosedchannels
  backends/CLNRest.ts
  backends/CoreLightningRequestHandler.ts
  backends/EmbeddedLND.ts
  backends/LND.ts
  backends/LightningNodeConnect.ts
  backends/LndHub.ts
  backends/NostrWalletConnect.ts
  models/Channel.ts
  models/ClosedChannel.ts
  stores/ChannelsStore.ts
  utils/BackendUtils.ts
  views/Channels/Channel.tsx
  views/Channels/ChannelsPane.tsx
Labels: Core Lightning, Channels, CLNRest

#2994 fix: Icons in Contact QR
  views/ContactQR.tsx
Labels: Design, Contacts

#3001 feat: Boltz.exchange Pro mode
  locales/en.json
  stores/SettingsStore.ts
  stores/SwapStore.ts
  views/Swaps/Settings.tsx
Labels: Settings, Swaps

#3005 feat: CLNRest taproot addresses
  backends/CLNRest.ts
  backends/EmbeddedLND.ts
  backends/LND.ts
  backends/LightningNodeConnect.ts
  backends/LndHub.ts
  backends/NostrWalletConnect.ts
  package.json
  stores/InvoicesStore.ts
  utils/BackendUtils.ts
  views/Receive.tsx
  views/Settings/InvoicesSettings.tsx
Labels: Core Lightning, CLNRest, Taproot, On-chain

#3013 enhancement: Close channel changes
  locales/en.json
  views/Channels/Channel.tsx
Labels: Channels, UX
